# dependencies
node_modules/

# environment variables
.env

# prisma database
prisma/dev.db
prisma/dev.db-journal

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# build
dist/

# coverage
coverage/